<!-- views/pages/attractions.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>Browse through our attractions</h2>
            <p>Select your desired ones to make your event special</p>

            <ul>
                <% attraction.forEach(function(entertainment) { %>
                    <li><%= entertainment.attractionname %> - <%= entertainment.attractionprice %></li>
                <% }); %>
            </ul> 

        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>My Account</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>