<!-- views/pages/people.ejs -->
...
<h2>Loop</h2>

<ul>
    <% team.forEach(function(person) { %>
        <li><%= team.name %> - <%= team.job %></li>
    <% }); %>
</ul>
...

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>Meet our wonderful team</h2>
            <p>Select the entertainers for your event. You can choose as many as you like.</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>My Account</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>