<!-- views/pages/bookings.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Your booking</h1>
        <p class="alert alert-danger">Your booking was not found.</p>
    </div>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>

</body>
</html>